version: '2.0'
services:
  mtprotoproxy:
    build: .
    restart: unless-stopped
    network_mode: "host"
    volumes:
        - ./config.py:/home/tgproxy/config.py
        - ./mtprotoproxy.py:/home/tgproxy/mtprotoproxy.py
    # command: "touch /tmp/qqqq2"
#    mem_limit: 1024m
